@use "./variables.scss" as *;

// put your custom CSS here!

body[data-slug$="book-log" i] .table-container {
  > table {
    width: 100%;
    margin: 0;
    padding: 0;

    thead {
      display: none;
    }

    th:first-child,
    td:first-child {
      width: 88px;
      min-width: 88px;
    }

    td {
      vertical-align: top;
    }

    img {
      display: block;
      width: 88px;
      height: auto;
      margin: 0;
    }
  }
}

body[data-slug$="book-log" i] h2:has(> a.external[href]) {
  > a.external[href] {
    display: inline-block;
    margin-left: 0.2rem;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease;

    .external-icon {
      display: none;
    }
  }

  > a[role="anchor"] {
    display: none;
  }

  &:hover > a.external[href],
  &:focus-within > a.external[href] {
    opacity: 1;
  }
}

@media (hover: none) {
  body[data-slug$="book-log" i]
    h2:has(> a.external[href])
    > a.external[href] {
    opacity: 1;
  }
}
